<div class="row">
    <div class="col-xxl-5">
      <div class="row">
        <div class="col-md-4">
          <nb-card>
              <nb-card-header>In Compounding</nb-card-header>
          </nb-card>
        </div>
        <div class="col-md-4">
            <nb-card>
                <nb-card-header>Completed Today</nb-card-header>
            </nb-card>
        </div>
        <div class="col-md-4">
            <nb-card>
                <nb-card-header>In Compounding</nb-card-header>
            </nb-card>
        </div>
      </div>
    </div>
  
    <!--<div class="col-xxl-7">-->
        <nb-card size="tiny" class="solar-card">
            <nb-card-header>Solar Energy Consumption</nb-card-header>
            <nb-card-body>
              <div echarts class="echart" options="option"> <!--[options]="option"-->
              </div>
              <div class="info">
                <div class="h4 value">6.421 kWh</div>
                <div class="details subtitle-2"><span>out of</span> 8.421 kWh</div>
              </div>
            </nb-card-body>
          </nb-card>
    <!--</div>-->
</div>
  