:host ::ng-deep nb-stepper .step-content {
    text-align: center;
  
    button {
      cursor: pointer;
      margin: 0.5rem;
    }
  }

  .layouttitle {
    font-weight: bold;
    font-size: 1.3em;
  }

  .textdetails {
    float: right;
  }

  .textdetails2 {
    float: right;
    margin-right: 2em;
  }
  
  