<nb-card>
    <nb-card-header>
      <h6>Add Latex Flow In Time</h6>
    </nb-card-header>
    <nb-card-body>
        <form novalidate id="mainform" (ngSubmit)="onSubmit()" [formGroup]="mainForm" autocomplete="off">
            <div class="form-row">
                <div class="form-control-group col-md-12">
                    <label class="label col-md-12" for="input-flowintime">Flow In Time:</label>
                    <div class="form-row col-md-12">
                        <input  nbInput
                                fullWidth
                                formControlName="flowintime"
                                id="input-flowintime"
                                type="datetime-local" 
                                value="2017-06-13T13:00:00"
                                step ="1"
                                required>
                    </div>
                </div>
            </div><!--END first row: Start Date, End Date-->
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button class="cancel" nbButton status="danger" (click)="cancel()" size="small"><nb-icon icon="close"></nb-icon>Cancel</button>
        <button class="submit" form="mainform" type="submit" nbButton status="success"
                 size="small"><nb-icon icon="checkmark"></nb-icon>Submit</button>
    </nb-card-footer>
</nb-card>
