<nb-card> <!--class="setHeight"-->
    <nb-card-header>
      <h6>Create New Role</h6>
    </nb-card-header>
    <nb-card-body>
    <form novalidate id="mainform" (ngSubmit)="onSubmit()" [formGroup]="mainForm" autocomplete="off">
        <!--<div class="accordion-container">-->
          <!--<nb-card>
            <nb-card-header class="nbCardHeaderStyle">-->
              <label for="inputSysFullName" class="col-sm-5"><b>Role Name</b></label>
              <input required class="col-sm-7" type="text" name="inputRoleName" nbInput fullWidth id="inputRoleName" placeholder="Role Name" formControlName="RoleName"> <!---->
            <!--</nb-card-header>
          </nb-card>-->
          
          <!--<nb-card>
            <nb-card-header class="nbCardHeaderStyle">
              <b>Home</b>
            </nb-card-header>
            <nb-card-body>
              
              <table class="table table-hover" formGroupName="Home">
                <thead>
                </thead>
                <tbody formArrayName="items">
                  
                  <tr *ngFor="let item of getControls('Home'); let i=index" [formGroupName]="i">
                    <nb-accordion>
                      <nb-accordion-item>
                       <nb-accordion-item-header class="nbAccordionItemHeaderStyle">
                              <nb-checkbox status="basic" formControlName="isChecked" (change)="changeTick($event, item)"></nb-checkbox>
                              {{item.get('name').value}}
                       </nb-accordion-item-header>
                       <nb-accordion-item-body>
                         <nb-list> 
                          <nb-list-item *ngFor="let item of getAPIControls('Home', i); let j=index"  class="listStyle">
                            <nb-checkbox status="basic"  (change)="changeChildTick($event, item, i, j, 'Home')" [disabled]="isDisabled(i, j, 'Home')"></nb-checkbox> 
                            {{ item.apiName }}
                          </nb-list-item>
                        </nb-list>
                       </nb-accordion-item-body>
                      </nb-accordion-item>
                     </nb-accordion>
                </tr>
                </tbody>
              </table>
            </nb-card-body>
          </nb-card>
  
          <nb-card>
            <nb-card-header class="nbCardHeaderStyle">
              <b>Inquiry</b>
            </nb-card-header>
            <nb-card-body>
              <table class="table table-hover" formGroupName="Inquiry">
                <thead>
                  <tr>
                  </tr>
                </thead>
                <tbody formArrayName="items">
                  <tr *ngFor="let item of getControls('Inquiry'); let i=index" [formGroupName]="i">
                    <nb-accordion>
                      <nb-accordion-item>
                       <nb-accordion-item-header class="nbAccordionItemHeaderStyle">
                              <nb-checkbox status="basic" formControlName="isChecked" (change)="changeTick($event, item)" ></nb-checkbox>
                              {{item.get('name').value}}
                       </nb-accordion-item-header>
                      </nb-accordion-item>
                     </nb-accordion>
                </tr>
                </tbody>
              </table>
            </nb-card-body>
          </nb-card>
  
          <nb-card>
            <nb-card-header class="nbCardHeaderStyle">
              <b>Report</b>
            </nb-card-header>
            <nb-card-body>
              <table class="table table-hover" formGroupName="Report">
                <thead>
                  <tr>
                  </tr>
                </thead>
                <tbody formArrayName="items">
                  <tr *ngFor="let item of getControls('Report'); let i=index" [formGroupName]="i">
                    <nb-accordion>
                      <nb-accordion-item>
                       <nb-accordion-item-header class="nbAccordionItemHeaderStyle">
                              <nb-checkbox status="basic" formControlName="isChecked" (change)="changeTick($event, item)" ></nb-checkbox>
                              {{item.get('name').value}}
                       </nb-accordion-item-header>
                      </nb-accordion-item>
                    </nb-accordion>
                </tr>
                </tbody>
              </table>
            </nb-card-body>
          </nb-card>
  
          <nb-card>
            <nb-card-header class="nbCardHeaderStyle">
              <b>Master Settings</b>
            </nb-card-header>
            <nb-card-body>
              <table class="table table-hover" formGroupName="MasterSettings">
                <thead>
                  <tr>
                  </tr>
                </thead>
                <tbody formArrayName="items">
                  <tr *ngFor="let item of getControls('MasterSettings'); let i=index" [formGroupName]="i">
                    <nb-accordion>
                      <nb-accordion-item>
                       <nb-accordion-item-header class="nbAccordionItemHeaderStyle">
                              <nb-checkbox status="basic" formControlName="isChecked" (change)="changeTick($event, item)" ></nb-checkbox>
                              {{item.get('name').value}}
                       </nb-accordion-item-header>
                      </nb-accordion-item>
                     </nb-accordion>
                </tr>
                </tbody>
              </table>
            </nb-card-body>
          </nb-card>
  
          <nb-card> 
            <nb-card-header class="nbCardHeaderStyle">
              <b>User Management</b>
            </nb-card-header>
            <nb-card-body>
              <table class="table table-hover" formGroupName="UserManagement">
                <thead>
                  <tr>
                  </tr>
                </thead>
                <tbody formArrayName="items">
                  <tr *ngFor="let item of getControls('UserManagement'); let i=index" [formGroupName]="i">
                    <nb-accordion>
                      <nb-accordion-item [expanded]="false">
                       <nb-accordion-item-header class="nbAccordionItemHeaderStyle">
                              <nb-checkbox status="basic" formControlName="isChecked" (change)="changeTick($event, item)" ></nb-checkbox>
                              {{item.get('name').value}}
                       </nb-accordion-item-header>
                      </nb-accordion-item>
                     </nb-accordion>
                </tr>
                </tbody>
              </table>
            </nb-card-body>
          </nb-card>-->
        <!--</div>-->    
    </form>
    </nb-card-body>
    <nb-card-footer>
        <button class="cancel" nbButton status="danger" (click)="cancel()" size="small"><nb-icon icon="close"></nb-icon>Cancel</button>
        <button class="submit"  nbButton status="success" (click)="onSubmit()"
                size="small"><nb-icon icon="checkmark"></nb-icon>Submit</button>
    </nb-card-footer>
  </nb-card>
      