<!--<div class="setHeight">-->
    <nb-card [hidden] = "hideMajorDialog" class="setHeight">
        <nb-card-body>
          <form novalidate id="mainform" (ngSubmit)="onSubmit()" [formGroup]="mainForm" autocomplete="off">
            <nb-tabset>
              <nb-tab formGroupName="batchorder" tabTitle="Batch Order Details" tabIcon="file-remove-outline" responsive>
                <h6>Edit batch order details</h6>

                <div class="form-row">
                  <div class="form-control-group col-md-6">
                    <label class="label col-md-12" for="input-plant">Plant:</label>
                    <div class="form-row col-md-12">
                        <input class="col-md-12"
                                nbInput
                                fullWidth
                                formControlName="plant"
                                id="input-plant"
                                [attr.disabled]="true">
                    </div>
                  </div>

                  <div class="form-control-group col-md-6">
                    <label class="label col-md-12" for="input-cpdbatchno">CPD Batch Number:</label>
                    <div class="form-row col-md-12">
                      <input class="col-md-12"
                              nbInput
                              fullWidth
                              formControlName="cpdbatchno"
                              id="input-cpdbatchno"
                              value="{{originalBatchNo}}"
                              onkeyup="this.value = this.value.toUpperCase();"
                              [attr.disabled]="true">
                      <div class="error" *ngIf="mainForm.get('batchorder').get('cpdbatchno').touched && mainForm.get('batchorder').get('cpdbatchno').hasError('required')">
                          CPD Batch Number is required!
                      </div>
                    </div>
                  </div>

                </div><!--END first row: Plant, CPD Batch Number-->

                <div class="form-row">
                  <div class="form-control-group col-md-6">
                    <label class="label col-md-12" for="input-itemno">Item Number:</label>
                    <div class="form-row col-md-12">
                      <input nbInput
                              fullWidth
                              formControlName="itemno"
                              id="input-itemno"
                              placeholder="Item Number"
                              onkeyup="this.value = this.value.toUpperCase();"
                              value="{{originalItemNo}}"
                              [attr.disabled]="true">
                      <div class="error" *ngIf="mainForm.get('batchorder').get('itemno').touched && mainForm.get('batchorder').get('itemno').hasError('required')">
                        Item Number is required!
                      </div>
                    </div>
                  </div>

                  <div class="form-control-group col-md-6">
                    <label class="label col-md-12" for="input-producttype">Product Type:</label>
                    <div class="form-row  col-md-12">
                      <!-- <input nbInput
                              fullWidth
                              formControlName="producttype"
                              id="input-producttype"
                              placeholder="Product Type"
                              onkeyup="this.value = this.value.toUpperCase();"
                              (ngModelChange)="valueChanged()"
                              > -->
                              <div class="ng-autocomplete">
                                <ng-autocomplete
                                  [data]="productTypeList"
                                  [searchKeyword]="keyword"
                                  [initialValue]="originalProductType"
                                  placeholder="Product Type"
                                  (selected)='selectEvent($event)'
                                  formControlName="producttype"
                                  id="input-producttype"
                                  [itemTemplate]="itemTemplate"
                                  [notFoundTemplate]="notFoundTemplate">
                                </ng-autocomplete>

                                <ng-template #itemTemplate let-item>
                                  <a [innerHTML]="item.name"></a>
                                </ng-template>

                                <ng-template #notFoundTemplate let-notFound>
                                  <div [innerHTML]="notFound"></div>
                                </ng-template>
                              </div>

                      <!--<div class="error" *ngIf="mainForm.get('batchorder').get('producttype').touched && mainForm.get('batchorder').get('producttype').hasError('required')">
                          Product Type is required!
                      </div>-->
                    </div>
                  </div>
                </div><!--END second row: Item Number, Product Type-->

                <div class="form-row">
                  <div class="form-control-group col-md-6">
                    <label class="label col-md-12" for="input-mixingtank">Mixing Tank:</label>
                    <div class="form-row col-md-12">
                      <!--<nb-select fullWidth formControlName="mixingtank" id="input-mixingtank" (ngModelChange)="valueChanged()" status="primary" (selected)="selectedOption">
                        <nb-option *ngFor="let mixingTank of mixingTankList" [value]="mixingTank.mixingTankNo" > {{ mixingTank.mixingTankNo }}</nb-option>
                      </nb-select>-->
                      <input nbInput
                              fullWidth
                              formControlName="mixingtank"
                              id="input-mixingtank"
                              value="{{originalMixingTankNo}}"
                              [attr.disabled]="true">
                      <div class="error" *ngIf="mainForm.get('batchorder').get('mixingtank').touched && mainForm.get('batchorder').get('mixingtank').hasError('required')">
                        Mixing Tank is required!
                      </div>
                    </div>
                  </div>


                  <div class="form-control-group col-md-6">
                    <label class="label col-md-12" for="input-quantity">Quantity (kg):</label>
                    <div class="form-row col-md-12">
                      <input nbInput
                              fullWidth
                              formControlName="quantity"
                              id="input-quantity"
                              placeholder="Quantity (kg)"
                              type="number"
                              step="0.0001"
                              (ngModelChange)="valueChanged()">
                      <div class="error" *ngIf="mainForm.get('batchorder').get('quantity').touched && mainForm.get('batchorder').get('quantity').hasError('required')">
                        Quantity is required!
                      </div>
                    </div>
                  </div>
                </div><!--END third row: Mixing Tank, Quantity-->

                <div class= "form-row">
                  <div class="form-control-group col-md-6">
                      <label class="label col-md-12" for="input-scheduledstartdatetime">Scheduled Start Date Time:</label>
                      <div class="form-row col-md-12">
                          <input  nbInput
                          fullWidth
                          formControlName="scheduledstartdatetime"
                          id="input-scheduledstartdatetime"
                          id="input-scheduledstartdatetime"
                          type="datetime-local"
                          (ngModelChange)="valueChanged()"
                          step="1">
                      </div>
                      <div class="error" *ngIf="mainForm.get('batchorder').get('scheduledstartdatetime').touched && mainForm.get('batchorder').get('scheduledstartdatetime').hasError('required')">
                          Scheduled Start Date Time is required!
                      </div>
                    </div>


                    <div class="form-control-group col-md-6">
                      <label class="label col-md-12" for="input-scheduledenddatetime">Scheduled End Date Time:</label>
                      <div class="form-row col-md-12">
                        <input  nbInput
                                fullWidth
                                formControlName="scheduledenddatetime"
                                id="input-scheduledenddatetime"
                                id="input-scheduledenddatetime"
                                type="datetime-local"
                                (ngModelChange)="valueChanged()"
                                step="1">
                        <div class="error" *ngIf="mainForm.get('batchorder').get('scheduledenddatetime').touched && mainForm.get('batchorder').get('scheduledenddatetime').hasError('required')">
                          Scheduled End Date Time is required!
                        </div>
                      </div>
                    </div>
                </div>

              </nb-tab>

              <nb-tab tabTitle="BOM Details" tabIcon="file-text-outline" responsive>
                <h6>Enter BOM details</h6>
                <div class="accordion-container">
                  <nb-card>
                    <nb-card-header>
                      <b>Latex</b>
                      <button class="addButton" nbButton (click)="addLatex(); $event.preventDefault()" size="small"><nb-icon icon="plus"></nb-icon>Add</button>
                      <!--<span class="addButton" (click)="addLatex()" size="small"><nb-icon icon="plus"></nb-icon>Add New CPD Batch</span>-->
                    </nb-card-header>
                    <nb-card-body>
                      <table class="table table-hover" formGroupName="latex">
                        <thead>
                          <tr>
                            <th></th>
                            <th style="display:none;">Item ID</th>
                            <th style="display:none;">Stage Name</th>
                            <th>Item ID</th>
                            <!--<th>Item Name</th>-->
                            <!--<th>Batch No</th>-->
                            <th>Unit</th>
                            <th>Target Weight</th>
                            <!--<th>PHR</th>
                            <th>TSC%</th>-->
                            <!--<th>Actual Weight</th>-->
                          </tr>
                        </thead>
                        <tbody formArrayName="items">
                          <tr *ngFor="let item of getControls('latex'); let i=index" [formGroupName]="i">
                            <td><button size="small" nbButton (click)="removeLatexItem(i); $event.preventDefault()"><nb-icon icon="close"></nb-icon></button></td>
                            <td style="display:none;"><input nbInput fullWidth fieldSize="small" formControlName="itemid" value="item" [attr.disabled]="true"></td>
                            <td style="display:none;"><input nbInput fullWidth fieldSize="small" formControlName="StageName" value="item" [attr.disabled]="true"></td>
                            <td><input nbInput fullWidth fieldSize="small" formControlName="displayItemId" value="item" [attr.disabled]="true"></td>
                            <!--<td><input nbInput fullWidth fieldSize="small" formControlName="itemname" value="ItemName" [attr.disabled]="true"></td>-->
                            <!--<td><input nbInput fullWidth fieldSize="small" formControlName="itembatchno" placeholder="Batch No"></td>-->
                            <td><input nbInput fullWidth fieldSize="small" formControlName="bomunit" value="Unit" [attr.disabled]="true" ></td>
                            <td><input nbInput fullWidth fieldSize="small" formControlName="quantity" placeholder="0.0000" step="0.0001" type="number" (ngModelChange)="valueChanged()"></td>
                            <!--<td><input nbInput fullWidth fieldSize="small" formControlName="PHR" placeholder="PHR" type="number" (ngModelChange)="valueChanged()"></td>
                            <td><input nbInput fullWidth fieldSize="small" formControlName="TSC" placeholder="TSC%" type="number" (ngModelChange)="valueChanged()"></td>-->
                            <!--<td><input nbInput fullWidth fieldSize="small" formControlName="targetweight" placeholder="Target Weight" type="number"></td>-->
                            <!--<td><input nbInput fullWidth fieldSize="small" formControlName="actualweight" placeholder="Actual Weight" type="number"></td>-->
                          </tr>
                        </tbody>
                      </table>
                    </nb-card-body>
                  </nb-card>
                  <nb-card>
                    <nb-card-header>
                      <b>Stabilization</b>
                      <button class="addButton" nbButton (click)="addStabilization(); $event.preventDefault()" size="small"><nb-icon icon="plus"></nb-icon>Add</button>
                    </nb-card-header>
                      <nb-card-body>
                        <table class="table table-hover" formGroupName="stabilization">
                          <thead>
                            <tr>
                              <th></th>
                              <th style="display:none;">Item ID</th>
                              <th style="display:none;">Stage Name</th>
                              <th>Item ID</th>
                              <!--<th>Item Name</th>-->
                              <!--<th>Batch No</th>-->
                              <th>Unit</th>
                              <th>Target Weight</th>
                              <!--<th>PHR</th>
                              <th>TSC%</th>-->
                              <!--<th>Actual Weight</th>-->
                            </tr>
                          </thead>
                          <tbody formArrayName="items">
                            <tr *ngFor="let item of getControls('stabilization'); let i=index" [formGroupName]="i">
                              <!--<td *ngIf="i == 0">Agwet HT</td> <td *ngIf="i == 1">Soft Water</td> <td *ngIf="i == 2">Soft Water (Flushing)</td>-->
                              <td><button size="small" nbButton (click)="removeStabilizationItem(i); $event.preventDefault()"><nb-icon icon="close"></nb-icon></button></td>
                              <td><input nbInput fullWidth fieldSize="small" formControlName="displayItemId" value="item" [attr.disabled]="true"></td>
                              <td style="display:none;"><input nbInput fullWidth fieldSize="small" formControlName="StageName" value="item" [attr.disabled]="true"></td>
                              <td style="display:none;"><input nbInput fullWidth fieldSize="small" formControlName="itemid" value="item" [attr.disabled]="true"></td>
                              <!--<td><input nbInput fullWidth fieldSize="small" formControlName="itemname" value="ItemName" [attr.disabled]="true"></td>-->
                              <!--<td><input nbInput fullWidth fieldSize="small" formControlName="itembatchno" placeholder="Batch No"></td>-->
                              <td><input nbInput fullWidth fieldSize="small" formControlName="bomunit" value="Unit" [attr.disabled]="true"></td>
                              <td><input nbInput fullWidth fieldSize="small" formControlName="quantity" placeholder="0.0000" step="0.0001" type="number" (ngModelChange)="valueChanged()"></td>
                              <!--<td><input nbInput fullWidth fieldSize="small" formControlName="PHR" placeholder="PHR" type="number" (ngModelChange)="valueChanged()"></td>
                              <td><input nbInput fullWidth fieldSize="small" formControlName="TSC" placeholder="TSC%" type="number" (ngModelChange)="valueChanged()"></td>-->
                              <!--<td><input nbInput fullWidth fieldSize="small" formControlName="targetweight" placeholder="Target Weight" type="number"></td>-->
                              <!--<td><input nbInput fullWidth fieldSize="small" formControlName="actualweight" placeholder="Actual Weight" type="number"></td>-->
                            </tr>
                          </tbody>
                        </table>
                      </nb-card-body>
                  </nb-card>
                  <nb-card>
                    <nb-card-header>
                      <b>Composite</b>
                      <button class="addButton" nbButton (click)="addComposite(); $event.preventDefault()" size="small"><nb-icon icon="plus"></nb-icon>Add</button>
                    </nb-card-header>
                    <nb-card-body>
                      <table class="table table-hover" formGroupName="composite">
                        <thead>
                          <tr>
                            <th></th>
                            <th style="display:none;">Item ID</th>
                            <th style="display:none;">Stage Name</th>
                            <th>Item ID</th>
                            <!--<th>Item Name</th>-->
                            <!--<th>Batch No</th>-->
                            <th>Unit</th>
                            <th>Target Weight</th>
                            <!--<th>PHR</th>
                            <th>TSC%</th>-->
                            <!--<th>Actual Weight</th>-->
                          </tr>
                        </thead>
                        <tbody formArrayName="items">
                          <tr *ngFor="let item of getControls('composite'); let i=index" [formGroupName]="i">
                            <!--<td *ngIf="i == 0">Octocure HCLP-60(YS)</td> <td *ngIf="i == 1">Octocure ZDE 50</td> <td *ngIf="i == 2">Octotint 705</td>-->
                            <td><button size="small" nbButton (click)="removeCompositeItem(i); $event.preventDefault()"><nb-icon icon="close"></nb-icon></button></td>
                            <td style="display:none;"><input nbInput fullWidth fieldSize="small" formControlName="itemid" value="item" [attr.disabled]="true"></td>
                            <td style="display:none;"><input nbInput fullWidth fieldSize="small" formControlName="StageName" value="item" [attr.disabled]="true"></td>
                            <td><input nbInput fullWidth fieldSize="small" formControlName="displayItemId" value="item" [attr.disabled]="true"></td>
                            <!--<td><input nbInput fullWidth fieldSize="small" formControlName="itemname" value="ItemName" [attr.disabled]="true"></td>-->
                            <!--<td><input nbInput fullWidth fieldSize="small" formControlName="itembatchno" placeholder="Batch No"></td>-->
                            <td><input nbInput fullWidth fieldSize="small" formControlName="bomunit" value="Unit" [attr.disabled]="true"></td>
                            <td><input nbInput fullWidth fieldSize="small" formControlName="quantity" placeholder="0.0000" step="0.0001" type="number" (ngModelChange)="valueChanged()"></td>
                            <!--<td><input nbInput fullWidth fieldSize="small" formControlName="PHR" placeholder="PHR" type="number" (ngModelChange)="valueChanged()"></td>
                            <td><input nbInput fullWidth fieldSize="small" formControlName="TSC" placeholder="TSC%" type="number" (ngModelChange)="valueChanged()"></td>-->
                            <!--<td><input nbInput fullWidth fieldSize="small" formControlName="targetweight" placeholder="Target Weight" type="number"></td>-->
                            <!--<td><input nbInput fullWidth fieldSize="small" formControlName="actualweight" placeholder="Actual Weight" type="number"></td>-->
                          </tr>
                        </tbody>
                      </table>
                    </nb-card-body>
                  </nb-card>
                  <nb-card>
                    <nb-card-header>
                      <b>ESD</b>
                      <button class="addButton" nbButton (click)="addESD(); $event.preventDefault()" size="small"><nb-icon icon="plus"></nb-icon>Add</button>
                    </nb-card-header>
                    <nb-card-body>
                      <table class="table table-hover" formGroupName="esd">
                        <thead>
                          <tr>
                            <th></th>
                            <th style="display:none;">Item ID</th>
                            <th style="display:none;">Stage Name</th>
                            <th>Item ID</th>
                            <th>Unit</th>
                            <th>Target Weight</th>
                            <!--<th>PHR</th>
                            <th>TSC%</th>-->
                          </tr>
                        </thead>
                        <tbody formArrayName="items">
                          <tr *ngFor="let item of getControls('esd'); let i=index" [formGroupName]="i">
                            <td><button size="small" nbButton (click)="removeESDItem(i); $event.preventDefault()"><nb-icon icon="close"></nb-icon></button></td>
                            <td style="display:none;"><input nbInput fullWidth fieldSize="small" formControlName="itemid" value="item" [attr.disabled]="true"></td>
                            <td style="display:none;"><input nbInput fullWidth fieldSize="small" formControlName="StageName" value="item" [attr.disabled]="true"></td>
                            <td><input nbInput fullWidth fieldSize="small" formControlName="displayItemId" value="item" [attr.disabled]="true"></td>
                            <td><input nbInput fullWidth fieldSize="small" formControlName="bomunit" value="Unit" [attr.disabled]="true"></td>
                            <td><input nbInput fullWidth fieldSize="small" formControlName="quantity" placeholder="0.0000" step="0.0001" type="number" (ngModelChange)="valueChanged()"></td>
                            <!--<td><input nbInput fullWidth fieldSize="small" formControlName="PHR" placeholder="PHR" type="number" (ngModelChange)="valueChanged()"></td>
                            <td><input nbInput fullWidth fieldSize="small" formControlName="TSC" placeholder="TSC%" type="number" (ngModelChange)="valueChanged()"></td>-->
                          </tr>
                        </tbody>
                      </table>
                    </nb-card-body>
                  </nb-card>
                  <nb-card>
                    <nb-card-header>
                      <b>Wax</b>
                      <button class="addButton" nbButton (click)="addWax(); $event.preventDefault()" size="small"><nb-icon icon="plus"></nb-icon>Add</button>
                    </nb-card-header>
                    <nb-card-body>
                      <table class="table table-hover" formGroupName="wax">
                        <thead>
                          <tr>
                            <th></th>
                            <th style="display:none;">Item ID</th>
                            <th style="display:none;">Stage Name</th>
                            <th>Item ID</th>
                            <!--<th>Item Name</th>-->
                            <!--<th>Batch No</th>-->
                            <th>Unit</th>
                            <th>Target Weight</th>
                            <!--<th>PHR</th>
                            <th>TSC%</th>-->
                            <!--<th>Actual Weight</th>-->
                          </tr>
                        </thead>
                        <tbody formArrayName="items">
                          <tr *ngFor="let item of getControls('wax'); let i=index" [formGroupName]="i">
                            <!--<td *ngIf="i == 0">Aquawax 48</td> <td *ngIf="i == 1">Soft Water</td> <td *ngIf="i == 2">Soft Water (Flushing)</td>-->
                            <td><button size="small" nbButton (click)="removeWaxItem(i); $event.preventDefault()"><nb-icon icon="close"></nb-icon></button></td>
                            <td style="display:none;"><input nbInput fullWidth fieldSize="small" formControlName="itemid" value="item" [attr.disabled]="true"></td>
                            <td style="display:none;"><input nbInput fullWidth fieldSize="small" formControlName="StageName" value="item" [attr.disabled]="true"></td>
                            <td><input nbInput fullWidth fieldSize="small" formControlName="displayItemId" value="item" [attr.disabled]="true"></td>
                            <!--<td><input nbInput fullWidth fieldSize="small" formControlName="itemname" value="ItemName" [attr.disabled]="true"></td>-->
                            <!--<td><input nbInput fullWidth fieldSize="small" formControlName="itembatchno" placeholder="Batch No"></td>-->
                            <td><input nbInput fullWidth fieldSize="small" formControlName="bomunit" value="Unit" [attr.disabled]="true"></td>
                            <td><input nbInput fullWidth fieldSize="small" formControlName="quantity" placeholder="0.0000" step="0.0001" type="number" (ngModelChange)="valueChanged()"></td>
                            <!--<td><input nbInput fullWidth fieldSize="small" formControlName="PHR" placeholder="PHR" type="number" (ngModelChange)="valueChanged()"></td>
                            <td><input nbInput fullWidth fieldSize="small" formControlName="TSC" placeholder="TSC%" type="number" (ngModelChange)="valueChanged()"></td>-->
                            <!--<td><input nbInput fullWidth fieldSize="small" formControlName="targetweight" placeholder="Target Weight" type="number"></td>-->
                            <!--<td><input nbInput fullWidth fieldSize="small" formControlName="actualweight" placeholder="Actual Weight" type="number"></td>-->
                          </tr>
                        </tbody>
                      </table>
                    </nb-card-body>
                  </nb-card>
                  <nb-card>
                    <nb-card-header>
                      <b>Pigment</b>
                      <button class="addButton" nbButton (click)="addPigment(); $event.preventDefault()" size="small"><nb-icon icon="plus"></nb-icon>Add</button>
                    </nb-card-header>
                    <nb-card-body>
                      <table class="table table-hover" formGroupName="pigment">
                        <thead>
                          <tr>
                            <th></th>
                            <th style="display:none;">Item ID</th>
                            <th style="display:none;">Stage Name</th>
                            <th>Item ID</th>
                            <!--<th>Item Name</th>-->
                            <!--<th>Batch No</th>-->
                            <th>Unit</th>
                            <th>Target Weight</th>
                            <!--<th>PHR</th>
                            <th>TSC%</th>-->
                            <!--<th>Actual Weight</th>-->
                          </tr>
                        </thead>
                        <tbody formArrayName="items">
                          <tr *ngFor="let item of getControls('pigment'); let i=index" [formGroupName]="i">
                            <!--<td *ngIf="i == 0">Aquawax 48</td> <td *ngIf="i == 1">Soft Water</td> <td *ngIf="i == 2">Soft Water (Flushing)</td>-->
                            <td><button size="small" nbButton (click)="removePigmentItem(i); $event.preventDefault()"><nb-icon icon="close"></nb-icon></button></td>
                            <td style="display:none;"><input nbInput fullWidth fieldSize="small" formControlName="itemid" value="item" [attr.disabled]="true"></td>
                            <td style="display:none;"><input nbInput fullWidth fieldSize="small" formControlName="StageName" value="item" [attr.disabled]="true"></td>
                            <td><input nbInput fullWidth fieldSize="small" formControlName="displayItemId" value="item" [attr.disabled]="true"></td>
                            <!--<td><input nbInput fullWidth fieldSize="small" formControlName="itemname" value="ItemName" [attr.disabled]="true"></td>-->
                            <!--<td><input nbInput fullWidth fieldSize="small" formControlName="itembatchno" placeholder="Batch No"></td>-->
                            <td><input nbInput fullWidth fieldSize="small" formControlName="bomunit" value="Unit" [attr.disabled]="true"></td>
                            <td><input nbInput fullWidth fieldSize="small" formControlName="quantity" placeholder="0.0000" step="0.0001" type="number" (ngModelChange)="valueChanged()"></td>
                            <!--<td><input nbInput fullWidth fieldSize="small" formControlName="PHR" placeholder="PHR" type="number" (ngModelChange)="valueChanged()"></td>
                            <td><input nbInput fullWidth fieldSize="small" formControlName="TSC" placeholder="TSC%" type="number" (ngModelChange)="valueChanged()"></td>-->
                            <!--<td><input nbInput fullWidth fieldSize="small" formControlName="targetweight" placeholder="Target Weight" type="number"></td>-->
                            <!--<td><input nbInput fullWidth fieldSize="small" formControlName="actualweight" placeholder="Actual Weight" type="number"></td>-->
                          </tr>
                        </tbody>
                      </table>
                    </nb-card-body>
                  </nb-card>
                  <nb-accordion multi>

                  </nb-accordion>
                </div>
              </nb-tab>
            </nb-tabset>
          </form>
          <!-- <button class="addbom" nbButton (click)="openModal()">Add BOM</button> <div class="labelstatus">Is BOM added: {{isBomAdded}}</div> -->
        </nb-card-body>
        <nb-card-footer>
            <button class="cancel" nbButton status="danger" (click)="cancel()" size="small"><nb-icon icon="close"></nb-icon>Cancel</button>
          <button class="submit" form="mainform" type="submit" nbButton status="success"
                  [disabled]="disableButton" size="small"><nb-icon icon="checkmark"></nb-icon>Submit</button>
        </nb-card-footer>
      </nb-card>
    <!--</div>-->

      <nb-card [hidden]="hideStageItemDialog" class="dropDownListSetWidth">
          <nb-card-header>
              Select {{currentStage}} Item
          </nb-card-header>
          <nb-card-body>
              <form novalidate id="dialogform" (ngSubmit)="onSubmit()" [formGroup]="dialogForm">
                <div class="form-row">
                  <nb-select status="primary" formControlName="StageItemId" fullWidth (selected)="selectedOption">
                      <nb-option *ngFor="let mappedItem of mappedBOMItemsForDialog" [value]="mappedItem" class="col-sm-12" fullWidth> {{mappedItem.itemId}} &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;{{ mappedItem.itemName }}</nb-option>
                  </nb-select>
                </div>
                <!--<nb-select status="primary" class="col-sm-12" (selected)="selectedOption">
                  <nb-option *ngFor="let mappedItem of mappedBOMItemsForDialog" [value]="mappedItem" > {{mappedItem.itemId}} | {{ mappedItem.itemName }}</nb-option>
                </nb-select>-->
              </form>
          </nb-card-body>
          <nb-card-footer>
            <button class="cancel" nbButton status="danger" (click)="cancelStageItem()" size="small"><nb-icon icon="close"></nb-icon>Cancel</button>
            <button class="addButton" nbButton status="success" (click)="addStageItem()"
                     size="small"><nb-icon icon="checkmark"></nb-icon>Add</button><!--//[disabled]="mainForm.invalid"-->

          </nb-card-footer>
      </nb-card>



