@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }

  .addButton {
    float: right;
    margin-right: 5px;
  }

  .deleteButton {
    float: right;
    margin-right: 5px;
  }
}

:host /deep/ .cell_middle {
  text-align: center;
}

:host /deep/ ng2-smart-table tbody > tr > td {
  //font-size: .8rem;
  padding: .5em 1em;
}

:host /deep/ ng2-smart-table table tr th {
  //font-size: .8rem !important;
}

:host /deep/ ng2-smart-table table tr th a {
  //font-size: .8rem !important;
  font-weight: bold;
}

.layouttitle {
  font-weight: bold;
  font-size: 1.3em;
}